---
import Layout from "../layouts/Layout.astro"
---

<Layout pageTitle="About" description="This is my blog website, where I can post my latest projects. This website uses the AstroJS framework.">
    <section class="max-w-screen-xl">
        
    </section>
</Layout>