---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About" description="This is my blog website, where I can post my latest projects. This website uses the AstroJS framework.">
    <section class="max-w-screen-xl mx-auto mt-[200px]">
        
    </section>
</Layout>