---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact" description="Contact us for inquiries, feedback, or assistance. Reach out to our dedicated support team through our contact page. We are here to address your questions and provide the assistance you need.">
    <section class="max-w-screen-xl mx-auto mt-[200px]">
        
    </section>
</Layout>