---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home Page" description="My blog page using astro js framework.">
      <section class="max-w-screen-xl flex justify-between items-center flex-row-reverse mt-[200px] mx-auto">
            <div class="hero-image py-8 relative bg-white">
                <img src="https://mabsrencode.com/images/edited3.png" alt="">
            </div>
            <div>
                
            </div>
      </section>
</Layout>
<style>
    .hero-image{
        clip-path: circle(50% at 50% 50%);
        max-width: 400px;
    }
</style>