---
const {title, description} = Astro.props;
---
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description}>
        <meta name="author" content="Reniel George Mababa">
        <meta http-equiv="refresh" content="30">
        <link rel="icon" href="https://mabsrencode.com/images/favicon-light.png" type="image/png">
        <link rel="icon" type="image/x-icon" media="(prefers-color-scheme: no-preference)" href="https://mabsrencode.com/images/favicon-light.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.js" integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>{title}</title>
    </head>