---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HeadLayout from './HeadLayout.astro';
// interface Props{
//     title: string,
//     description: string
// }
const {title = "Mabsrencode Blog Page", description ="My blogs about my latest projects and life cycle."} = Astro.props;
---

<html lang="en">
    <HeadLayout {title} {description}/>
    <body class="bg-zinc-900">
            <Navbar/>
                <main class="lg:container bg-zinc-900 py-28 mx-6 md:mx-[12%] lg:mx-auto lg:top-[12%] lg:gap-24 lg:flex lg:justify-center text-slate-200">
                    <slot/>
                </main>
            <Footer/>
    </body>
</html>